<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go Brunch</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
 <section class="section-left">

  <div class="div-type-input">
    <label class="label-title">Quantity</label>
    <input type="text" placeholder="Type here" name="quantCard"/>
  </div>

 </section>
  <section class="section-right">
    <% if(quantCard) {%>
      <% quantCard.forEach(function(quant){ %>
        <article class="article-content">
          <p class="article-number"><% quant %></p>
        </article>
      <% }); %>

      <%} else {}%>


  </section>
  <script src="./index.js" type="module"></script>
</body>
</html>